// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.container{
    background-color: #a6cd88;
}
.card{
    background-color: #c7e6ad;
}
.card-group{
    background-color: #859571;
}
.list-group-item {
    background-color: #edf9db;
}