// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.container{
    background-color: rgb(167, 206, 138);
}
.card{
    background-color: rgb(222, 230, 173);
}
.card-group{
    background-color: rgb(144, 149, 113);
}